img{
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
    z-index: -1;
}

.container{
    background-color: aliceblue;
    width: 50%;
    float: right;
}

.text{
    padding: 20px;
    text-align: right;
}

div p{
    font-weight: bold;
}